$bg-color: #0f111a;
$bg-color-light: #1d1f28;
$border-color: #2d2a3c;
$text-color: #7e93a2;
$subtext-color: #4b526d;
$highlight-color: #03b0c1;
$highlight-color-hover: #16d2e4;
$highlight-color-active: #00363b;

$nav-bar-height: 70px;
$footer-height: 44px;
$side-bar-width: 280px;

$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;

@mixin border($sides: all) {
  @if $sides == all {
    border: 2px solid $border-color;
  } @else {
    @each $side in $sides {
      border-#{$side}: 2px solid $border-color;
    }
  }

  box-sizing: border-box;
}

@mixin text-button() {
  color: $highlight-color;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: $highlight-color-hover;
  }

  &:active {
    color: $highlight-color-active;
  }
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(63, 63, 63);
  }
}
