@import "utils";

#footer {
  @include border(top);
  min-height: $footer-height;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 16px;
  padding: 8px 12px;

  p {
    margin: 0;
    color: $subtext-color;
    font-size: 0.875rem;
  }

  .link {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
