@import "utils";

.side-bar {
  display: none;

  &.drawer-variant {
    display: block;
    border: 0;
    width: 100%;
    padding: 0;
    max-height: 45dvh;

    .explorer-element p {
      min-height: 44px;
    }
  }
}

@media (min-width: $bp-md) {
  .side-bar {
    @include border(right);
    @include custom-scroll-bar();
    width: $side-bar-width;
    height: 100%;
    padding: 16px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;

    #header {
      font-size: 1.1rem;
      margin: 0;
    }

    #sub-header {
      margin: 8px 0 16px;
      font-size: 0.95rem;
    }

    .explorer-element {
      font-size: 0.95rem;
      cursor: pointer;
      user-select: none;

      p {
        margin: 8px 0;
        min-height: 36px;
        display: flex;
        align-items: center;

        &:hover {
          color: white;
        }
      }

      i {
        font-size: 18px;
        margin-right: 6px;
      }

      .closed {
        display: none;
      }

      .explorer-children-container {
        @include border(left);
        margin-left: 8px;
        padding-left: 12px;
      }
    }

    &.drawer-variant {
      display: none;
    }
  }
}
