@import "utils";

#terminal {
  @include border(top);
  @include custom-scroll-bar();
  width: 100%;
  max-height: 240px;
  min-height: 240px;
  color: white;
  padding: 16px;
  font-size: 0.9rem;
  overflow-y: auto;

  p {
    margin: 0;
    white-space: normal;
  }

  .green {
    color: #c3e88d;
  }

  .blue {
    color: #89ddff;
  }
}
