@import "utils";

#terminal {
  @include border(top);
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  color: white;
  padding: 20px;
  font-size: 14px;
  overflow-y: scroll;

  p {
    margin: 0;
    width: min-content;
    text-wrap: nowrap;
  }

  .green {
    color: #c3e88d;
  }

  .blue {
    color: #89ddff;
  }
}

#terminal::-webkit-scrollbar {
  width: 0.5em;
}

#terminal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#terminal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(63, 63, 63);
}
