@import "../utils";

#about-me-container {
  margin: 15px;
  display: flex;

  img {
    height: 50vh;
  }

  #about-me-text {
    margin-left: 20px;

    h1 {
      color: $highlight-color;
      margin: 0;
    }

    p {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
