@import "../utils";

#code-block-container {
  @include custom-scroll-bar();
  width: 100%;
  height: 100%;
  overflow: auto;

  & > span {
    @include custom-scroll-bar();
    height: 100%;
  }
}

#image-container {
  width: 100%;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
