@import "../utils";

#readme {
  @include custom-scroll-bar();
  margin: 0 auto;
  color: white;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: auto;

  #header-row {
    display: flex;
    min-height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      height: 52px;
      width: auto;
    }

    h1 {
      text-align: center;
      font-size: clamp(1.2rem, 3vw, 2rem);
    }
  }

  hr {
    margin: 0 8px;
    background-color: $border-color;
    border-color: $border-color;
  }

  .center {
    text-align: center;
  }

  h3 {
    margin: 30px 12px;
  }

  & > p {
    margin: 14px 12px;
    line-height: 1.4;
  }

  span.link {
    @include text-button();
  }

  span.filename {
    background-color: rgba(110, 118, 129, 0.4);
    padding: 1px 4px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
  }

  #badge-row {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
    margin: 20px 0 30px;
    gap: 8px;

    .badge {
      display: flex;
      margin: 0;
      overflow: hidden;
      border-radius: 5px;

      &:hover {
        opacity: 0.9;
      }

      p {
        padding: 6px;
        margin: 0;
      }

      .name {
        background-color: #505050;
      }

      .value {
        background-color: #929292;
      }
    }
  }
}

@media (min-width: $bp-sm) {
  #readme #badge-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
